USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_requisition]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_requisition](
	[requisitionID] [int] IDENTITY(1,1) NOT NULL,
	[vendorID] [int] NOT NULL,
	[orderID] [int] NOT NULL,
	[order_date] [nvarchar](50) NOT NULL,
	[lineID] [int] NOT NULL,
	[manufacturer] [nvarchar](50) NOT NULL,
	[partnumber] [nvarchar](50) NOT NULL,
	[quantity] [float] NOT NULL,
	[item] [text] NOT NULL,
	[cost] [money] NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[onPO] [bit] NOT NULL,
 CONSTRAINT [PK_t_requisition] PRIMARY KEY CLUSTERED 
(
	[requisitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_requisition] ON 

INSERT [dbo].[t_requisition] ([requisitionID], [vendorID], [orderID], [order_date], [lineID], [manufacturer], [partnumber], [quantity], [item], [cost], [uom], [onPO]) VALUES (63225, 98, 22727, N'6/9/2019', 67300, N'DONALDSON', N'P532507', 0, N'AIR FILTER, PRIMARY RADIALSEAL', 53.7400, N'EA', 0)
INSERT [dbo].[t_requisition] ([requisitionID], [vendorID], [orderID], [order_date], [lineID], [manufacturer], [partnumber], [quantity], [item], [cost], [uom], [onPO]) VALUES (63226, 98, 22727, N'6/9/2019', 67301, N'DONALDSON', N'P573354', 0, N'TRANSMISSION FILTER, CARTRIDGE', 40.3900, N'EA', 0)
INSERT [dbo].[t_requisition] ([requisitionID], [vendorID], [orderID], [order_date], [lineID], [manufacturer], [partnumber], [quantity], [item], [cost], [uom], [onPO]) VALUES (63227, 98, 22727, N'6/9/2019', 67302, N'DONALDSON', N'P554005', 0, N'LUBE FILTER, SPIN-ON FULL FLOW', 11.6500, N'EA', 0)
GO
SET IDENTITY_INSERT [dbo].[t_requisition] OFF
GO
ALTER TABLE [dbo].[t_requisition] ADD  CONSTRAINT [DF_t_requisition_onPO]  DEFAULT ('False') FOR [onPO]
GO
