USE [SQL2012_972956_desertfleet]
GO
/****** Object:  View [dbo].[v_order_lines]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_order_lines]
AS
SELECT        dbo.t_order_line.lineID, dbo.t_order_line.orderID, dbo.t_order_line.partID, dbo.t_order_line.assetID, dbo.t_order_line.manufacturer, dbo.t_order_line.partnumber, dbo.t_order_line.item, dbo.t_order_line.quantity, 
                         dbo.t_order_line.price, dbo.t_order_line.uom, dbo.t_order_line.availability, dbo.t_order_line.quote, dbo.t_order.vendorID, dbo.t_order.purchaseorder, dbo.t_order.vendor, dbo.t_order.v_phone, dbo.t_order.v_fax, 
                         dbo.t_order.company, dbo.t_order.placed, dbo.t_order.placedby, dbo.t_order.order_date, dbo.t_order.deliverby_date, dbo.t_order.confirm_date, dbo.t_order.confirmed, dbo.t_order.complete, dbo.t_order.c_contact, 
                         dbo.t_shipment_line.ship_qty, dbo.t_order_line.kitID, dbo.t_order.isReturn, dbo.t_order_line.cost, t_company_1.companyID, t_company_1.repID, dbo.t_shipment.shipment_date
FROM            dbo.t_order INNER JOIN
                         dbo.t_order_line ON dbo.t_order.orderID = dbo.t_order_line.orderID INNER JOIN
                         dbo.t_company AS t_company_1 ON dbo.t_order.companyID = t_company_1.companyID LEFT OUTER JOIN
                         dbo.t_shipment INNER JOIN
                         dbo.t_shipment_line ON dbo.t_shipment.shipmentID = dbo.t_shipment_line.shipmentID ON dbo.t_order_line.lineID = dbo.t_shipment_line.lineID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 1
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t_order"
            Begin Extent = 
               Top = 23
               Left = 230
               Bottom = 412
               Right = 400
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t_order_line"
            Begin Extent = 
               Top = 15
               Left = 448
               Bottom = 406
               Right = 618
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t_company_1"
            Begin Extent = 
               Top = 22
               Left = 0
               Bottom = 408
               Right = 180
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t_shipment"
            Begin Extent = 
               Top = 5
               Left = 971
               Bottom = 367
               Right = 1141
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t_shipment_line"
            Begin Extent = 
               Top = 9
               Left = 721
               Bottom = 149
               Right = 891
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
      PaneHidden = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 39
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_order_lines'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_order_lines'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_order_lines'
GO
