USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_company]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_company](
	[companyID] [int] IDENTITY(1,1) NOT NULL,
	[repID] [int] NOT NULL,
	[branchID] [int] NOT NULL,
	[company] [nvarchar](50) NOT NULL,
	[address1] [nvarchar](50) NOT NULL,
	[address2] [nvarchar](50) NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[zipcode] [nvarchar](50) NOT NULL,
	[c_phone] [nvarchar](50) NOT NULL,
	[c_fax] [nvarchar](50) NULL,
	[customer] [bit] NOT NULL,
	[vendor] [bit] NOT NULL,
	[supplier] [bit] NOT NULL,
	[equipment_email] [nvarchar](50) NULL,
	[contact_email] [nvarchar](50) NULL,
	[billing_email] [nvarchar](50) NULL,
	[warehouse_email] [nvarchar](50) NULL,
	[logo] [nvarchar](50) NULL,
	[website] [nvarchar](50) NULL,
	[process] [nvarchar](50) NOT NULL,
	[purchasing] [bit] NOT NULL,
	[quote_expires] [int] NOT NULL,
	[labor_rate] [money] NOT NULL,
	[salestax] [float] NOT NULL,
	[chargetax] [bit] NOT NULL,
	[vendorID] [int] NOT NULL,
	[sendkitstatus] [bit] NOT NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_t_company] PRIMARY KEY CLUSTERED 
(
	[companyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_company] ON 

GO
SET IDENTITY_INSERT [dbo].[t_company] OFF
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_repID]  DEFAULT ((3266)) FOR [repID]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_branchID]  DEFAULT ((0)) FOR [branchID]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_customer]  DEFAULT ('False') FOR [customer]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_vendor]  DEFAULT ('False') FOR [vendor]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_supplier]  DEFAULT ('False') FOR [supplier]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_contact_email]  DEFAULT (' ') FOR [contact_email]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_billing_email]  DEFAULT (' ') FOR [billing_email]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_warehouse_email]  DEFAULT (' ') FOR [warehouse_email]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_process]  DEFAULT ((0)) FOR [process]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_purchasing]  DEFAULT ('False') FOR [purchasing]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_quotes_expire]  DEFAULT ((30)) FOR [quote_expires]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_labor_rate]  DEFAULT ((0)) FOR [labor_rate]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_salestax]  DEFAULT ((0.086)) FOR [salestax]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_chargetax]  DEFAULT ('True') FOR [chargetax]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_vendorID]  DEFAULT ((0)) FOR [vendorID]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_sendkitstatus]  DEFAULT ('False') FOR [sendkitstatus]
GO
ALTER TABLE [dbo].[t_company] ADD  CONSTRAINT [DF_t_company_active]  DEFAULT ('False') FOR [active]
GO
