USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_order]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_order](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[purchaseorder] [nvarchar](50) NULL,
	[reference] [nvarchar](50) NULL,
	[vendorID] [int] NOT NULL,
	[vendor] [nvarchar](50) NOT NULL,
	[v_phone] [nvarchar](50) NULL,
	[v_fax] [nvarchar](50) NULL,
	[companyID] [int] NOT NULL,
	[company] [nvarchar](50) NOT NULL,
	[placed] [bit] NOT NULL,
	[placedby] [nvarchar](50) NULL,
	[order_date] [date] NOT NULL,
	[deliverby_date] [nvarchar](50) NULL,
	[confirm_date] [nvarchar](50) NULL,
	[confirmed] [bit] NOT NULL,
	[complete] [bit] NOT NULL,
	[remitto] [nvarchar](50) NULL,
	[r_address1] [nvarchar](50) NULL,
	[r_address2] [nvarchar](50) NULL,
	[r_city] [nvarchar](50) NULL,
	[r_state] [nvarchar](50) NULL,
	[r_zipcode] [nvarchar](50) NULL,
	[b_address1] [nvarchar](50) NULL,
	[b_address2] [nvarchar](50) NULL,
	[b_city] [nvarchar](50) NULL,
	[b_state] [nvarchar](50) NULL,
	[b_zipcode] [nvarchar](50) NULL,
	[shipID] [int] NOT NULL,
	[shipto] [nvarchar](50) NULL,
	[s_address1] [nvarchar](50) NULL,
	[s_address2] [nvarchar](50) NULL,
	[s_address3] [nvarchar](50) NULL,
	[s_city] [nvarchar](50) NULL,
	[s_state] [nvarchar](50) NULL,
	[s_zipcode] [nvarchar](50) NULL,
	[userID] [int] NOT NULL,
	[c_contact] [nvarchar](50) NULL,
	[c_phone] [nvarchar](50) NULL,
	[c_fax] [nvarchar](50) NULL,
	[notes] [text] NULL,
	[quoteID] [int] NOT NULL,
	[ship_method] [nvarchar](50) NULL,
	[ship_options] [nvarchar](50) NULL,
	[rush] [bit] NOT NULL,
	[is_kit] [bit] NOT NULL,
	[serviceID] [int] NOT NULL,
	[serviceprofileID] [nvarchar](max) NOT NULL,
	[isReturn] [nvarchar](50) NOT NULL,
	[ccID] [int] NOT NULL,
	[chargetax] [bit] NOT NULL,
	[hours_miles] [float] NOT NULL,
	[repID] [int] NOT NULL,
	[needspo] [bit] NOT NULL,
	[mobileuserID] [int] NOT NULL,
	[sample] [bit] NOT NULL,
	[sample_complete] [bit] NOT NULL,
	[reviewed] [bit] NOT NULL,
 CONSTRAINT [PK_t_order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_order] ON 

GO
GO
SET IDENTITY_INSERT [dbo].[t_order] OFF
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_placed_1]  DEFAULT ('False') FOR [placed]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_confirmed]  DEFAULT ('False') FOR [confirmed]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_complete]  DEFAULT ('False') FOR [complete]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_shipID]  DEFAULT ((0)) FOR [shipID]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_userID]  DEFAULT ((0)) FOR [userID]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_quoteID]  DEFAULT ((0)) FOR [quoteID]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_rush]  DEFAULT ('False') FOR [rush]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_is_kit]  DEFAULT ('False') FOR [is_kit]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_equipmentID]  DEFAULT ((0)) FOR [serviceID]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_serviceprofileID]  DEFAULT ((0)) FOR [serviceprofileID]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_isReturn]  DEFAULT (N'No') FOR [isReturn]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_ccID]  DEFAULT ((0)) FOR [ccID]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_chargetax]  DEFAULT ('False') FOR [chargetax]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_hours_miles]  DEFAULT ((0)) FOR [hours_miles]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_repID]  DEFAULT ((3266)) FOR [repID]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_needspo]  DEFAULT ('False') FOR [needspo]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_mobileuserID]  DEFAULT ((0)) FOR [mobileuserID]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_oilkit]  DEFAULT ('False') FOR [sample]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_oilkit_complete]  DEFAULT ('False') FOR [sample_complete]
GO
ALTER TABLE [dbo].[t_order] ADD  CONSTRAINT [DF_t_order_reviewed]  DEFAULT ('False') FOR [reviewed]
GO
