USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_service]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_service](
	[serviceID] [int] IDENTITY(1,1) NOT NULL,
	[serviceprofileID] [int] NOT NULL,
	[scheduledby] [nvarchar](50) NOT NULL,
	[scheduledby_email] [nvarchar](50) NULL,
	[technician] [nvarchar](50) NOT NULL,
	[email] [nvarchar](max) NULL,
	[technician_email] [nvarchar](50) NULL,
	[schedule_date] [nvarchar](50) NOT NULL,
	[complete] [bit] NOT NULL,
	[complete_date] [nvarchar](50) NULL,
	[location] [nvarchar](50) NULL,
	[address] [nvarchar](max) NULL,
	[address2] [nvarchar](max) NULL,
	[address3] [nvarchar](max) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[zipcode] [nvarchar](50) NULL,
	[instructions] [text] NULL,
	[report] [text] NULL,
	[hours_miles] [int] NOT NULL,
	[workorder] [nvarchar](50) NULL,
	[service_type] [nvarchar](50) NOT NULL,
	[fuel_gallons] [nvarchar](50) NOT NULL,
	[def_gallons] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_t_service_1] PRIMARY KEY CLUSTERED 
(
	[serviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_service] ON 

GO
SET IDENTITY_INSERT [dbo].[t_service] OFF
GO
ALTER TABLE [dbo].[t_service] ADD  CONSTRAINT [DF_t_service_userID]  DEFAULT ((0)) FOR [scheduledby]
GO
ALTER TABLE [dbo].[t_service] ADD  CONSTRAINT [DF_t_service_complete]  DEFAULT ('False') FOR [complete]
GO
ALTER TABLE [dbo].[t_service] ADD  CONSTRAINT [DF_t_service_hours_miles]  DEFAULT ((0)) FOR [hours_miles]
GO
ALTER TABLE [dbo].[t_service] ADD  CONSTRAINT [DF_t_service_service_type]  DEFAULT (N'Lube Service') FOR [service_type]
GO
ALTER TABLE [dbo].[t_service] ADD  CONSTRAINT [DF_t_service_fuel_gallons]  DEFAULT ((0)) FOR [fuel_gallons]
GO
ALTER TABLE [dbo].[t_service] ADD  CONSTRAINT [DF_t_service_def_gallons]  DEFAULT ((0)) FOR [def_gallons]
GO
