USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[Donaldson2021Update]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donaldson2021Update](
	[DPartNumber] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[UpdateMsrp] [money] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Donaldson2021Update] ([DPartNumber], [Description], [UpdateMsrp]) VALUES (N'115206-10003', N'SENSOR', 97.0000)
INSERT [dbo].[Donaldson2021Update] ([DPartNumber], [Description], [UpdateMsrp]) VALUES (N'115206-10010', N'SENSOR', 97.0000)
INSERT [dbo].[Donaldson2021Update] ([DPartNumber], [Description], [UpdateMsrp]) VALUES (N'115206-10015', N'SENSOR', 97.0000)
GO
