USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[Sheet1$]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1$](
	[companyID] [float] NULL,
	[assetID] [nvarchar](255) NULL,
	[equipment_description] [nvarchar](255) NULL,
	[equipment_vin] [nvarchar](255) NULL,
	[equipment_oem] [nvarchar](255) NULL,
	[equipment_model] [nvarchar](255) NULL,
	[equipment_year] [float] NULL,
	[ ] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sheet1$] ([companyID], [assetID], [equipment_description], [equipment_vin], [equipment_oem], [equipment_model], [equipment_year], [ ]) VALUES (353, N'30. 103.  ', N'Ford F-550', N'1FDAF56F41EB98593', N'Ford', N'F550', 2001, NULL)
INSERT [dbo].[Sheet1$] ([companyID], [assetID], [equipment_description], [equipment_vin], [equipment_oem], [equipment_model], [equipment_year], [ ]) VALUES (353, N'30. 112.  ', N'Ford F-550 SD', N'1FDOW5HT2CED20255', N'Ford', N'F550', 2012, NULL)
INSERT [dbo].[Sheet1$] ([companyID], [assetID], [equipment_description], [equipment_vin], [equipment_oem], [equipment_model], [equipment_year], [ ]) VALUES (353, N'30. 113.  ', N'Ford F-550', N'1FDAW56S74EA50018', N'Ford', N'F550', 2004, NULL)
GO
