USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[baldwin]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baldwin](
	[manufacturer] [nvarchar](255) NULL,
	[partnumber] [nvarchar](255) NULL,
	[msrp] [money] NULL,
	[cost] [money] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[baldwin] ([manufacturer], [partnumber], [msrp], [cost]) VALUES (N'BALDWIN', N'B2', 5.7400, 3.6506)
INSERT [dbo].[baldwin] ([manufacturer], [partnumber], [msrp], [cost]) VALUES (N'BALDWIN', N'B2-HPG', 16.1100, 10.2460)
INSERT [dbo].[baldwin] ([manufacturer], [partnumber], [msrp], [cost]) VALUES (N'BALDWIN', N'B4', 11.7000, 7.4412)
GO
