USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_cart]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_cart](
	[cartID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[companyID] [int] NOT NULL,
	[vendorID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[manufacturer] [nvarchar](50) NOT NULL,
	[partnumber] [nvarchar](50) NOT NULL,
	[item] [nvarchar](max) NOT NULL,
	[quantity] [float] NOT NULL,
	[price] [money] NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[weight] [nvarchar](50) NOT NULL,
	[kitID] [nvarchar](max) NOT NULL,
	[ssID] [nvarchar](50) NULL,
	[hours_miles] [float] NOT NULL,
 CONSTRAINT [PK_t_cart] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_cart] ON 

INSERT [dbo].[t_cart] ([cartID], [userID], [companyID], [vendorID], [productID], [manufacturer], [partnumber], [item], [quantity], [price], [uom], [weight], [kitID], [ssID], [hours_miles]) VALUES (13057, 3266, 98, 98, 32035, N'GATES', N'B99', N'Hi-Power II Belts', 1, 39.7000, N'EA', N'0', N'0', N'lisocb2wd14aphqhn4pr1qmo', 0)
INSERT [dbo].[t_cart] ([cartID], [userID], [companyID], [vendorID], [productID], [manufacturer], [partnumber], [item], [quantity], [price], [uom], [weight], [kitID], [ssID], [hours_miles]) VALUES (13058, 3266, 98, 98, 32035, N'GATES', N'b99', N'Hi-Power II Belts', 1, 39.7000, N'EA', N'0', N'0', N'lisocb2wd14aphqhn4pr1qmo', 0)
INSERT [dbo].[t_cart] ([cartID], [userID], [companyID], [vendorID], [productID], [manufacturer], [partnumber], [item], [quantity], [price], [uom], [weight], [kitID], [ssID], [hours_miles]) VALUES (13060, 3266, 98, 98, 32035, N'GATES', N'B99', N'Hi-Power II Belts', 1, 39.7000, N'EA', N'0', N'0', N'lisocb2wd14aphqhn4pr1qmo', 0)
GO
SET IDENTITY_INSERT [dbo].[t_cart] OFF
GO
ALTER TABLE [dbo].[t_cart] ADD  CONSTRAINT [DF_t_cart_userID]  DEFAULT ((0)) FOR [userID]
GO
ALTER TABLE [dbo].[t_cart] ADD  CONSTRAINT [DF_t_cart_kitID]  DEFAULT ((0)) FOR [kitID]
GO
ALTER TABLE [dbo].[t_cart] ADD  CONSTRAINT [DF_t_cart_hours_miles]  DEFAULT ((0)) FOR [hours_miles]
GO
