USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_vendor_supplier]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_vendor_supplier](
	[vsID] [int] IDENTITY(1,1) NOT NULL,
	[vendorID] [int] NOT NULL,
	[supplierID] [int] NOT NULL,
 CONSTRAINT [PK_t_vendor_supplier] PRIMARY KEY CLUSTERED 
(
	[vsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_vendor_supplier] ON 

INSERT [dbo].[t_vendor_supplier] ([vsID], [vendorID], [supplierID]) VALUES (1, 11, 62)
INSERT [dbo].[t_vendor_supplier] ([vsID], [vendorID], [supplierID]) VALUES (2, 11, 63)
INSERT [dbo].[t_vendor_supplier] ([vsID], [vendorID], [supplierID]) VALUES (3, 3, 64)
GO
SET IDENTITY_INSERT [dbo].[t_vendor_supplier] OFF
GO
