USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_application_data]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_application_data](
	[applicationID] [int] IDENTITY(1,1) NOT NULL,
	[equipment_oem] [nvarchar](255) NULL,
	[equipment_description] [nvarchar](255) NULL,
	[equipment_model] [nvarchar](255) NULL,
	[equipment_option] [nvarchar](255) NULL,
	[equipment_year] [nvarchar](255) NULL,
	[equipment_vin] [nvarchar](255) NULL,
	[engine_oem] [nvarchar](255) NULL,
	[engine_model] [nvarchar](255) NULL,
	[catalog_type] [nvarchar](255) NULL,
	[quantity] [float] NULL,
	[oem_partnumber] [nvarchar](255) NULL,
	[manufacturer] [nvarchar](255) NULL,
	[partnumber] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
 CONSTRAINT [PK_t_application_data] PRIMARY KEY CLUSTERED 
(
	[applicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_application_data] ON 

INSERT [dbo].[t_application_data] ([applicationID], [equipment_oem], [equipment_description], [equipment_model], [equipment_option], [equipment_year], [equipment_vin], [engine_oem], [engine_model], [catalog_type], [quantity], [oem_partnumber], [manufacturer], [partnumber], [note]) VALUES (1, N'AEBI TRAKTOREN', N'SWEEPER', N'2100', N'MFH SERIES', N'', N'', N'FORD', N'', N'AIR FILTER, PRIMARY ROUND', 1, NULL, N'Donaldson', N'P181054', NULL)
INSERT [dbo].[t_application_data] ([applicationID], [equipment_oem], [equipment_description], [equipment_model], [equipment_option], [equipment_year], [equipment_vin], [engine_oem], [engine_model], [catalog_type], [quantity], [oem_partnumber], [manufacturer], [partnumber], [note]) VALUES (2, N'AEBI TRAKTOREN', N'SWEEPER', N'2100', N'MFH SERIES', N'', N'', N'FORD', N'', N'FUEL FILTER, WATER SEPARATOR CARTRIDGE', 1, NULL, N'Donaldson', N'P550366', NULL)
INSERT [dbo].[t_application_data] ([applicationID], [equipment_oem], [equipment_description], [equipment_model], [equipment_option], [equipment_year], [equipment_vin], [engine_oem], [engine_model], [catalog_type], [quantity], [oem_partnumber], [manufacturer], [partnumber], [note]) VALUES (3, N'AEBI TRAKTOREN', N'SWEEPER', N'2200', N'MFH SERIES', N'', N'', N'FORD', N'F5D425MTC', N'AIR FILTER, PRIMARY ROUND', 1, NULL, N'Donaldson', N'P181054', NULL)
GO
GO
SET IDENTITY_INSERT [dbo].[t_application_data] OFF
GO
