USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_xref]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_xref](
	[xrefID] [int] IDENTITY(1,1) NOT NULL,
	[ref_manufacturer] [varchar](50) NOT NULL,
	[ref_partnumber] [varchar](50) NOT NULL,
	[xref_manufacturer] [varchar](50) NOT NULL,
	[xref_partnumber] [varchar](50) NOT NULL,
 CONSTRAINT [PK_t_xref] PRIMARY KEY CLUSTERED 
(
	[xrefID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_xref] ON 

INSERT [dbo].[t_xref] ([xrefID], [ref_manufacturer], [ref_partnumber], [xref_manufacturer], [xref_partnumber]) VALUES (12, N'DONALDSON', N'P554004', N'FLEETGUARD', N'LF667')
INSERT [dbo].[t_xref] ([xrefID], [ref_manufacturer], [ref_partnumber], [xref_manufacturer], [xref_partnumber]) VALUES (13, N'FLEETGUARD', N'LF667', N'DONALDSON', N'P554004')
INSERT [dbo].[t_xref] ([xrefID], [ref_manufacturer], [ref_partnumber], [xref_manufacturer], [xref_partnumber]) VALUES (14, N'DONALDSON', N'P551808', N'BALDWIN', N'B7299')
GO
SET IDENTITY_INSERT [dbo].[t_xref] OFF
GO
