USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_category]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[parentID] [int] NOT NULL,
	[category_pic] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_t_category] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_category] ON 

INSERT [dbo].[t_category] ([categoryID], [category], [parentID], [category_pic]) VALUES (1, N'Oil Pumps', 112, N'blank.jpg')
INSERT [dbo].[t_category] ([categoryID], [category], [parentID], [category_pic]) VALUES (2, N'Grease Pumps', 112, N'blank.jpg')
INSERT [dbo].[t_category] ([categoryID], [category], [parentID], [category_pic]) VALUES (3, N'Grease Pump Packages', 2, N'blank.jpg')
GO
SET IDENTITY_INSERT [dbo].[t_category] OFF
GO
ALTER TABLE [dbo].[t_category] ADD  CONSTRAINT [DF_t_category_parentID]  DEFAULT ((0)) FOR [parentID]
GO
ALTER TABLE [dbo].[t_category] ADD  CONSTRAINT [DF_t_category_category_pic]  DEFAULT ('blank.jpg') FOR [category_pic]
GO
