USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_discount]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_discount](
	[multiplierID] [int] IDENTITY(1,1) NOT NULL,
	[companyID] [int] NOT NULL,
	[vendorID] [int] NOT NULL,
	[manufacturer] [nvarchar](50) NOT NULL,
	[price_category] [nvarchar](50) NOT NULL,
	[discount] [float] NOT NULL,
	[rebate] [bit] NOT NULL,
	[rebategp] [float] NOT NULL,
 CONSTRAINT [PK_t_multiplier] PRIMARY KEY CLUSTERED 
(
	[multiplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_discount] ON 

INSERT [dbo].[t_discount] ([multiplierID], [companyID], [vendorID], [manufacturer], [price_category], [discount], [rebate], [rebategp]) VALUES (2304, 44, 98, N'DONALDSON', N'F', 0.58, 0, 0)
INSERT [dbo].[t_discount] ([multiplierID], [companyID], [vendorID], [manufacturer], [price_category], [discount], [rebate], [rebategp]) VALUES (2307, 44, 98, N'DONALDSON', N'FH', 0.58, 0, 0)
INSERT [dbo].[t_discount] ([multiplierID], [companyID], [vendorID], [manufacturer], [price_category], [discount], [rebate], [rebategp]) VALUES (2363, 0, 98, N'BALDWIN', N'NONE', 0.59, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[t_discount] OFF
GO
ALTER TABLE [dbo].[t_discount] ADD  CONSTRAINT [DF_t_discount_rebate]  DEFAULT ('False') FOR [rebate]
GO
ALTER TABLE [dbo].[t_discount] ADD  CONSTRAINT [DF_t_discount_rebategp]  DEFAULT ((0)) FOR [rebategp]
GO
