USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_ship]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_ship](
	[shipID] [int] IDENTITY(1,1) NOT NULL,
	[companyID] [int] NOT NULL,
	[shipto] [nvarchar](50) NOT NULL,
	[s_address1] [nvarchar](50) NOT NULL,
	[s_address2] [nvarchar](50) NULL,
	[s_address3] [nvarchar](50) NULL,
	[s_city] [nvarchar](50) NOT NULL,
	[s_state] [nvarchar](50) NOT NULL,
	[s_zipcode] [nvarchar](50) NOT NULL,
	[s_phone] [nvarchar](50) NULL,
	[s_default] [bit] NOT NULL,
 CONSTRAINT [PK_t_ship] PRIMARY KEY CLUSTERED 
(
	[shipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_ship] ON 

INSERT [dbo].[t_ship] ([shipID], [companyID], [shipto], [s_address1], [s_address2], [s_address3], [s_city], [s_state], [s_zipcode], [s_phone], [s_default]) VALUES (13, 3, N'Vendor 3', N'5611 S 32nd Street', N'Apt 246', N'', N'Phoenix', N'Arizona', N'85040', N'6233997889', 1)
INSERT [dbo].[t_ship] ([shipID], [companyID], [shipto], [s_address1], [s_address2], [s_address3], [s_city], [s_state], [s_zipcode], [s_phone], [s_default]) VALUES (1033, 11, N'Gilbert', N'1339 W. San Pedro', N'', N'', N'Gilbert', N'AZ', N'85233', N'480.545.2400', 1)
INSERT [dbo].[t_ship] ([shipID], [companyID], [shipto], [s_address1], [s_address2], [s_address3], [s_city], [s_state], [s_zipcode], [s_phone], [s_default]) VALUES (1037, 15, N'Phoenix Pit  - 17181', N'4001 S 15th Ave', N'', N'', N'Phoenix', N'AZ', N'85041', N'123-456-8012', 1)
GO
SET IDENTITY_INSERT [dbo].[t_ship] OFF
GO
ALTER TABLE [dbo].[t_ship] ADD  CONSTRAINT [DF_t_ship_default]  DEFAULT ('False') FOR [s_default]
GO
