USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_product_xref]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_product_xref](
	[xrefID] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer1] [nvarchar](50) NOT NULL,
	[partnumber1] [nvarchar](50) NOT NULL,
	[manufacturer2] [nvarchar](50) NOT NULL,
	[partnumber2] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_t_product_xref] PRIMARY KEY CLUSTERED 
(
	[xrefID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_product_xref] ON 

INSERT [dbo].[t_product_xref] ([xrefID], [manufacturer1], [partnumber1], [manufacturer2], [partnumber2]) VALUES (1, N'DONALDSON', N'P573105', N'HYDAC/HYCON', N' 12108D03RT')
INSERT [dbo].[t_product_xref] ([xrefID], [manufacturer1], [partnumber1], [manufacturer2], [partnumber2]) VALUES (2, N'DONALDSON', N'P573106', N'HYDAC/HYCON', N' 12108D05RT')
INSERT [dbo].[t_product_xref] ([xrefID], [manufacturer1], [partnumber1], [manufacturer2], [partnumber2]) VALUES (3, N'DONALDSON', N'P573107', N'HYDAC/HYCON', N' 12108D07RT')
GO
GO
SET IDENTITY_INSERT [dbo].[t_product_xref] OFF
GO
