USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_quote_line]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_quote_line](
	[lineID] [int] IDENTITY(1,1) NOT NULL,
	[quoteID] [int] NOT NULL,
	[partID] [int] NOT NULL,
	[assetID] [nvarchar](50) NULL,
	[manufacturer] [nvarchar](50) NOT NULL,
	[partnumber] [nvarchar](50) NOT NULL,
	[item] [text] NULL,
	[quantity] [float] NOT NULL,
	[price] [money] NOT NULL,
	[uom] [nvarchar](50) NULL,
	[availability] [nvarchar](50) NULL,
	[quote] [bit] NOT NULL,
	[kitID] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_t_quote_line] PRIMARY KEY CLUSTERED 
(
	[lineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_quote_line] ON 

INSERT [dbo].[t_quote_line] ([lineID], [quoteID], [partID], [assetID], [manufacturer], [partnumber], [item], [quantity], [price], [uom], [availability], [quote], [kitID]) VALUES (3189, 4049, 0, N'0', N'DONALDSON', N'P618644', N'AIR FILTER, PANEL VENTILATION', 1, 37.6000, N'EACH', N'RE70742@41.99', 0, N'0')
INSERT [dbo].[t_quote_line] ([lineID], [quoteID], [partID], [assetID], [manufacturer], [partnumber], [item], [quantity], [price], [uom], [availability], [quote], [kitID]) VALUES (3190, 4049, 0, N'0', N'DONALDSON', N'P606803', N'AIR FILTER, PRIMARY RADIALSEAL', 1, 29.3900, N'EACH', N'R119168@31.72', 0, N'0')
INSERT [dbo].[t_quote_line] ([lineID], [quoteID], [partID], [assetID], [manufacturer], [partnumber], [item], [quantity], [price], [uom], [availability], [quote], [kitID]) VALUES (3191, 4049, 0, N'0', N'DONALDSON', N'P533930', N'AIR FILTER, PRIMARY RADIALSEAL', 1, 42.7500, N'EACH', N'RE516292@54.23', 0, N'0')
GO
SET IDENTITY_INSERT [dbo].[t_quote_line] OFF
GO
ALTER TABLE [dbo].[t_quote_line] ADD  CONSTRAINT [DF_t_quote_line_quote]  DEFAULT ('True') FOR [quote]
GO
ALTER TABLE [dbo].[t_quote_line] ADD  CONSTRAINT [DF_t_quote_line_kitID]  DEFAULT ((0)) FOR [kitID]
GO
