USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_product]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[companyID] [int] NOT NULL,
	[manufacturer] [nvarchar](50) NOT NULL,
	[partnumber] [nvarchar](50) NOT NULL,
	[item] [nvarchar](max) NOT NULL,
	[description] [text] NULL,
	[msrp] [money] NOT NULL,
	[saleprice] [money] NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[package] [float] NOT NULL,
	[rebate] [bit] NOT NULL,
	[price_category] [nvarchar](50) NOT NULL,
	[pop_code] [nvarchar](50) NULL,
	[weight] [float] NOT NULL,
	[upc] [nvarchar](50) NULL,
	[cost] [money] NOT NULL,
	[is_tax] [bit] NOT NULL,
	[coreID] [int] NOT NULL,
	[category] [int] NOT NULL,
	[featured] [bit] NOT NULL,
	[onhand] [float] NOT NULL,
	[min] [float] NOT NULL,
	[max] [float] NOT NULL,
	[reorder] [float] NOT NULL,
	[nStock] [bit] NOT NULL,
	[last_updated] [datetime] NOT NULL,
	[clearance] [bit] NOT NULL,
 CONSTRAINT [PK_t_product] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_product] ON 

INSERT [dbo].[t_product] ([productID], [companyID], [manufacturer], [partnumber], [item], [description], [msrp], [saleprice], [uom], [package], [rebate], [price_category], [pop_code], [weight], [upc], [cost], [is_tax], [coreID], [category], [featured], [onhand], [min], [max], [reorder], [nStock], [last_updated], [clearance]) VALUES (21366, 0, N'TEXACO', N'273279981', N'RANDO HD ISO 68, 55 Gallon', N'', 1109.9000, 1109.9000, N'Drum', 1, 0, N'NONE', NULL, 0, N'', 554.9500, 1, 0, 0, 0, 0, 0, 0, 0, 0, CAST(N'2015-12-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[t_product] ([productID], [companyID], [manufacturer], [partnumber], [item], [description], [msrp], [saleprice], [uom], [package], [rebate], [price_category], [pop_code], [weight], [upc], [cost], [is_tax], [coreID], [category], [featured], [onhand], [min], [max], [reorder], [nStock], [last_updated], [clearance]) VALUES (34881, 0, N'RYCO', N'T209-0808', N'HYDRAULIC COUPLING', N'', 8.9800, 8.9800, N'EA', 1, 0, N'NONE', NULL, 0, N'', 4.4900, 1, 0, 0, 0, 0, 0, 0, 0, 0, CAST(N'2018-06-04T21:12:00.640' AS DateTime), 0)
INSERT [dbo].[t_product] ([productID], [companyID], [manufacturer], [partnumber], [item], [description], [msrp], [saleprice], [uom], [package], [rebate], [price_category], [pop_code], [weight], [upc], [cost], [is_tax], [coreID], [category], [featured], [onhand], [min], [max], [reorder], [nStock], [last_updated], [clearance]) VALUES (37003, 0, N'LINCOLN', N'85255', N'MOUNTING BRCKT KIT', NULL, 116.6500, 116.6500, N'EA', 1, 0, N'NONE', NULL, 4.7, NULL, 58.7900, 1, 0, 0, 0, 0, 0, 0, 0, 0, CAST(N'2015-12-01T00:00:00.000' AS DateTime), 0)
GO
GO
SET IDENTITY_INSERT [dbo].[t_product] OFF
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_companyID]  DEFAULT ((0)) FOR [companyID]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_saleprice]  DEFAULT ((0)) FOR [saleprice]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_uom]  DEFAULT ('EACH') FOR [uom]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_package]  DEFAULT ((1)) FOR [package]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_rebate]  DEFAULT ('False') FOR [rebate]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_price_category]  DEFAULT ('NONE') FOR [price_category]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_weight]  DEFAULT ((0)) FOR [weight]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_cost]  DEFAULT ((0)) FOR [cost]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_is_tax]  DEFAULT ('True') FOR [is_tax]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_coreID]  DEFAULT ((0)) FOR [coreID]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_catalog]  DEFAULT ((0)) FOR [category]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_feature]  DEFAULT ('False') FOR [featured]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_onhand]  DEFAULT ((0)) FOR [onhand]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_min]  DEFAULT ((0)) FOR [min]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_max]  DEFAULT ((0)) FOR [max]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_reorder]  DEFAULT ((0)) FOR [reorder]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_nStock]  DEFAULT ('False') FOR [nStock]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_last_updated]  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[t_product] ADD  CONSTRAINT [DF_t_product_clearance]  DEFAULT ('False') FOR [clearance]
GO
