USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_luberfiner_xref]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_luberfiner_xref](
	[xrefID] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer] [nvarchar](50) NOT NULL,
	[partnumber] [nvarchar](50) NOT NULL,
	[luberfiner_pn] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_t_luberfiner_xref] PRIMARY KEY CLUSTERED 
(
	[xrefID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_luberfiner_xref] ON 

INSERT [dbo].[t_luberfiner_xref] ([xrefID], [manufacturer], [partnumber], [luberfiner_pn]) VALUES (1, N'ABG', N'2165034', N'LAF1710')
INSERT [dbo].[t_luberfiner_xref] ([xrefID], [manufacturer], [partnumber], [luberfiner_pn]) VALUES (2, N'ABG', N'2165039', N'LAF1712')
INSERT [dbo].[t_luberfiner_xref] ([xrefID], [manufacturer], [partnumber], [luberfiner_pn]) VALUES (3, N'ABG', N'2165044', N'LAF1714')
GO
GO
SET IDENTITY_INSERT [dbo].[t_luberfiner_xref] OFF
GO
