USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_quote]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_quote](
	[quoteID] [int] IDENTITY(1,1) NOT NULL,
	[vendorID] [int] NOT NULL,
	[vendor] [nvarchar](50) NOT NULL,
	[v_phone] [nvarchar](50) NULL,
	[v_fax] [nvarchar](50) NULL,
	[companyID] [int] NOT NULL,
	[company] [nvarchar](50) NOT NULL,
	[request_date] [nvarchar](50) NOT NULL,
	[deliverby_date] [nvarchar](50) NULL,
	[response_date] [nvarchar](50) NULL,
	[submitted] [bit] NOT NULL,
	[submittedby] [nvarchar](50) NULL,
	[complete] [bit] NOT NULL,
	[remitto] [nvarchar](50) NULL,
	[r_address1] [nvarchar](50) NULL,
	[r_address2] [nvarchar](50) NULL,
	[r_city] [nvarchar](50) NULL,
	[r_state] [nvarchar](50) NULL,
	[r_zipcode] [nvarchar](50) NULL,
	[b_address1] [nvarchar](50) NULL,
	[b_address2] [nvarchar](50) NULL,
	[b_city] [nvarchar](50) NULL,
	[b_state] [nvarchar](50) NULL,
	[b_zipcode] [nvarchar](50) NULL,
	[shipID] [int] NULL,
	[shipto] [nvarchar](50) NULL,
	[s_address1] [nvarchar](50) NULL,
	[s_address2] [nvarchar](50) NULL,
	[s_address3] [nvarchar](50) NULL,
	[s_city] [nvarchar](50) NULL,
	[s_state] [nvarchar](50) NULL,
	[s_zipcode] [nchar](10) NULL,
	[userID] [int] NULL,
	[c_contact] [nvarchar](50) NULL,
	[c_phone] [nvarchar](50) NULL,
	[c_fax] [nvarchar](50) NULL,
	[notes] [text] NULL,
	[is_kit] [bit] NOT NULL,
	[serviceID] [int] NOT NULL,
	[serviceprofileID] [int] NOT NULL,
 CONSTRAINT [PK_t_quote] PRIMARY KEY CLUSTERED 
(
	[quoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_quote] ON 

GO
SET IDENTITY_INSERT [dbo].[t_quote] OFF
GO
ALTER TABLE [dbo].[t_quote] ADD  CONSTRAINT [DF_t_quote_submitted]  DEFAULT ('False') FOR [submitted]
GO
ALTER TABLE [dbo].[t_quote] ADD  CONSTRAINT [DF_t_quote_complete]  DEFAULT ('False') FOR [complete]
GO
ALTER TABLE [dbo].[t_quote] ADD  CONSTRAINT [DF_t_quote_is_kit]  DEFAULT ('False') FOR [is_kit]
GO
ALTER TABLE [dbo].[t_quote] ADD  CONSTRAINT [DF_t_quote_equipmentID]  DEFAULT ((0)) FOR [serviceID]
GO
ALTER TABLE [dbo].[t_quote] ADD  CONSTRAINT [DF_t_quote_serviceprofileID]  DEFAULT ((0)) FOR [serviceprofileID]
GO
