USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[Tab$]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tab$](
	[manufacturer] [nvarchar](255) NULL,
	[partnumber] [nvarchar](255) NULL,
	[item] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[msrp] [money] NULL,
	[cost] [money] NULL,
	[saleprice] [money] NULL,
	[uom] [nvarchar](255) NULL,
	[package] [float] NULL,
	[F10] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Tab$] ([manufacturer], [partnumber], [item], [description], [msrp], [cost], [saleprice], [uom], [package], [F10]) VALUES (N'CHECKERS', N'2424', N'Rigpad, 24" sq with steel cable handles (7 ply thick)', N'Rigpad, 24" sq with steel cable handles (7 ply thick)', 168.0000, 126.0000, 168.0000, N'EACH', 1, NULL)
INSERT [dbo].[Tab$] ([manufacturer], [partnumber], [item], [description], [msrp], [cost], [saleprice], [uom], [package], [F10]) VALUES (N'CHECKERS', N'03.HD310.TUBE.A', N'EACH ASSEMBLY, HS SERIES FLASH TUBE TOP, CLEAR', N'EACH ASSEMBLY, HS SERIES FLASH TUBE TOP, CLEAR', 9.1500, 9.1500, 9.1500, N'EACH', 1, NULL)
INSERT [dbo].[Tab$] ([manufacturer], [partnumber], [item], [description], [msrp], [cost], [saleprice], [uom], [package], [F10]) VALUES (N'CHECKERS', N'03.SL208.TUBE.A', N'EACH MS208 TUBE HOLDER WITH FLASH TUBE', N'EACH MS208 TUBE HOLDER WITH FLASH TUBE', 8.2500, 8.2500, 8.2500, N'EACH', 1, NULL)
GO
