USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_years]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_years](
	[yearID] [int] NOT NULL,
 CONSTRAINT [PK_t_years] PRIMARY KEY CLUSTERED 
(
	[yearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t_years] ([yearID]) VALUES (1950)
INSERT [dbo].[t_years] ([yearID]) VALUES (1951)
INSERT [dbo].[t_years] ([yearID]) VALUES (1952)
GO
