USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_product_version]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_product_version](
	[versionID] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer] [nvarchar](255) NULL,
	[partnumber] [nvarchar](255) NULL,
	[version] [nvarchar](255) NULL,
	[alt_partnumber1] [nvarchar](255) NULL,
	[version1] [nvarchar](255) NULL,
	[alt_partnumber2] [nvarchar](255) NULL,
	[version2] [nvarchar](255) NULL,
	[alt_partnumber3] [nvarchar](255) NULL,
	[version3] [nvarchar](255) NULL,
 CONSTRAINT [PK_t_product_version] PRIMARY KEY CLUSTERED 
(
	[versionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_product_version] ON 

INSERT [dbo].[t_product_version] ([versionID], [manufacturer], [partnumber], [version], [alt_partnumber1], [version1], [alt_partnumber2], [version2], [alt_partnumber3], [version3]) VALUES (1, N'Donaldson', N'EAF5000', N'Donaldson Endurance Ultra-Web', N'P181000', N'Standard', N'P182000', N'Long Life', N'', N'')
INSERT [dbo].[t_product_version] ([versionID], [manufacturer], [partnumber], [version], [alt_partnumber1], [version1], [alt_partnumber2], [version2], [alt_partnumber3], [version3]) VALUES (2, N'Donaldson', N'EAF5001', N'Donaldson Endurance Ultra-Web', N'P181001', N'Standard', N'', N'', N'', N'')
INSERT [dbo].[t_product_version] ([versionID], [manufacturer], [partnumber], [version], [alt_partnumber1], [version1], [alt_partnumber2], [version2], [alt_partnumber3], [version3]) VALUES (3, N'Donaldson', N'EAF5002', N'Donaldson Endurance Ultra-Web', N'P181002', N'Standard', N'P182002', N'Long Life', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[t_product_version] OFF
GO
