USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_order_line]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_order_line](
	[lineID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NOT NULL,
	[partID] [int] NOT NULL,
	[assetID] [nvarchar](50) NULL,
	[manufacturer] [nvarchar](50) NOT NULL,
	[partnumber] [nvarchar](50) NOT NULL,
	[item] [nvarchar](max) NOT NULL,
	[quantity] [float] NOT NULL,
	[cost] [money] NOT NULL,
	[price] [money] NOT NULL,
	[uom] [nvarchar](50) NULL,
	[availability] [nvarchar](50) NULL,
	[quote] [bit] NOT NULL,
	[kitID] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_t_line] PRIMARY KEY CLUSTERED 
(
	[lineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_order_line] ON 

INSERT [dbo].[t_order_line] ([lineID], [orderID], [partID], [assetID], [manufacturer], [partnumber], [item], [quantity], [cost], [price], [uom], [availability], [quote], [kitID]) VALUES (9580, 6998, 0, N'0', N'INGERSOLL RAND', N'2475F14G', N'14HP Gas Engine Air Compressor', 1, 0.0000, 2650.0000, N'EACH', N'', 0, N'0')
INSERT [dbo].[t_order_line] ([lineID], [orderID], [partID], [assetID], [manufacturer], [partnumber], [item], [quantity], [cost], [price], [uom], [availability], [quote], [kitID]) VALUES (9581, 6999, 0, N'0', N'NEW PIG', N'25201', N'PIG® Universal Light-Weight Absorbent Mat Roll - 15" x 50''', 1, 0.0000, 26.9100, N'EACH', N'Stock', 1, N'0')
INSERT [dbo].[t_order_line] ([lineID], [orderID], [partID], [assetID], [manufacturer], [partnumber], [item], [quantity], [cost], [price], [uom], [availability], [quote], [kitID]) VALUES (9582, 7000, 0, N'0', N'COX REELS', N'1125WCL-6-C', N'REEL WELDING L/C HAND RWD WELD', 1, 0.0000, 650.0000, N'EACH', N'', 1, N'0')
GO
GO
SET IDENTITY_INSERT [dbo].[t_order_line] OFF
GO
ALTER TABLE [dbo].[t_order_line] ADD  CONSTRAINT [DF_t_order_line_cost]  DEFAULT ((0)) FOR [cost]
GO
ALTER TABLE [dbo].[t_order_line] ADD  CONSTRAINT [DF_t_order_line_quote]  DEFAULT ('True') FOR [quote]
GO
ALTER TABLE [dbo].[t_order_line] ADD  CONSTRAINT [DF_t_order_line_kitID]  DEFAULT ((0)) FOR [kitID]
GO
