USE [SQL2012_972956_desertfleet]
GO
/****** Object:  Table [dbo].[t_user]    Script Date: 6/4/2021 4:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_user](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[branchID] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[title] [nvarchar](50) NULL,
	[c_phone] [nvarchar](50) NULL,
	[c_fax] [nvarchar](50) NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[companyID] [int] NOT NULL,
	[administrator] [bit] NOT NULL,
	[c_default] [bit] NOT NULL,
	[username] [nvarchar](50) NULL,
	[super] [bit] NOT NULL,
 CONSTRAINT [PK_t_users] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_user] ON 

INSERT [dbo].[t_user] ([userID], [branchID], [name], [title], [c_phone], [c_fax], [email], [password], [companyID], [administrator], [c_default], [username], [super]) VALUES (34, 0, N'Allan Richardson', N'Service Manager', N'602-694-2691', N'', N'arichardson@knochelbros.com', N'knochel', 14, 1, 1, N'arichardson@knochelbros.com', 0)
INSERT [dbo].[t_user] ([userID], [branchID], [name], [title], [c_phone], [c_fax], [email], [password], [companyID], [administrator], [c_default], [username], [super]) VALUES (40, 0, N'Jeff Hansen', N'Equipment Manager', N'602-694-2744', N'', N'jhansen@knochelbros.com', N'knochel', 14, 1, 0, N'jhansen@knochelbros.com', 0)
INSERT [dbo].[t_user] ([userID], [branchID], [name], [title], [c_phone], [c_fax], [email], [password], [companyID], [administrator], [c_default], [username], [super]) VALUES (43, 0, N'Cory Schoonover', N'', N'480-316-4781', N'', N'cschoonover@fisherind.com', N'fisher', 15, 1, 1, N'cschoonover@fisherind.com', 0)
GO
SET IDENTITY_INSERT [dbo].[t_user] OFF
GO
ALTER TABLE [dbo].[t_user] ADD  CONSTRAINT [DF_t_user_branchID]  DEFAULT ((0)) FOR [branchID]
GO
ALTER TABLE [dbo].[t_user] ADD  CONSTRAINT [DF_t_user_c_default]  DEFAULT ('False') FOR [c_default]
GO
ALTER TABLE [dbo].[t_user] ADD  CONSTRAINT [DF_t_user_super]  DEFAULT ('False') FOR [super]
GO
